@import "tailwindcss";

@custom-variant dark (&:where([data-theme*="dark"], [data-theme*="dark"] *));

@custom-variant light (&:where([data-theme*="light"], [data-theme*="light"] *));

:root {
  --background: #e1e1e1;
  --foreground: #171717;
}

* {
  --background: inherit;
  --foreground: inherit;
}

[data-theme] body {
  background: var(--background);
  color: var(--foreground);
}

[data-theme="purple-light"] {
  --background: #faf5ff;
  --foreground: #2d1b69;
  --accent: #8b5cf6;
}

[data-theme="purple-dark"] {
  --background: #1a0f2e;
  --foreground: #faf5ff;
  --accent: #663399;
}

[data-theme="pink-light"] {
  --background: #fef2f2;
  --foreground: #290316;
  --accent: #ec4899;
}

[data-theme="pink-dark"] {
  --background: #290316;
  --foreground: #fef2f2;
  --accent: #f472b6;
}

[data-theme="green-light"] {
  --background: #e6fced;
  --foreground: #14532d;
  --accent: #16a34a;
}

[data-theme="green-dark"] {
  --background: #0f1c0f;
  --foreground: #e6fced;
  --accent: #22c55e;
}

[data-theme="cyan-light"] {
  --background: #cdf1f7;
  --foreground: #03252a;
  --accent: #2dbed4;
}

[data-theme="cyan-dark"] {
  --background: #031f23;
  --foreground: #cdf1f7;
  --accent: #2dbed4;
}
