@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant light (&:where(.light, .light *));

html {
  scrollbar-gutter: stable;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 3s linear infinite;
}
